<div id="<%= dom_id producto %>">
  <div>
    <strong>Nombre:</strong>
    <%= producto.nombre %>
  </div>

  <div>
    <strong>Referencia:</strong>
    <%= producto.referencia %>
  </div>

  <div>
    <strong>Descripcion:</strong>
    <%= producto.descripcion %>
  </div>

</div>
